.direnv/
result
__pycache__/
.venv/
.env.profile
*.swp
#*
.ruff_cache/
*.pyc

# Coq build artifacts
.lia.cache
*.vo
*.vok
*.vos
*.glob
*.aux
coq/gen
docs/**/*.log
docs/**/*.out
docs/**/*.aux
node_modules/
dist/
